doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
    //- Inline CSS will be injected here automatically by the utility script
    include style.css

  body
    .container
      //- CONTENT BLOCK
      block content

      .footer
        p Sent by Eat's on Tap System
        p La Verdad Christian College